<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472000393996-4a2fof8gaasv2bc59alprts2dnra08sa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472000393996-4a2fof8gaasv2bc59alprts2dnra08sa</string>
	<key>API_KEY</key>
	<string>AIzaSyAr45wTYvVdRcL0W_yKaq-UcyHAbcaHqJY</string>
	<key>GCM_SENDER_ID</key>
	<string>472000393996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sirius.siriusExample</string>
	<key>PROJECT_ID</key>
	<string>build-release-a71f9</string>
	<key>STORAGE_BUCKET</key>
	<string>build-release-a71f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472000393996:ios:daa97f777a2a08433a4f29</string>
</dict>
</plist>